/dts-v1/;
/plugin/;

/{
    compatible = "ti,am33xx";
    fragment@0 {
        target-path = <&i2c2>;
        __overlay__ {
            MPU6050@68 {
                compatible = "QuangNM13,MPU6050";
                author = "QuangNM13";
                reg = <0x68>;
                status = "okay";
            };
        };
    };
};